.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-left: auto;
  margin-right: auto; */

  width: 100%;
  height: 100vh !important;
}
input[type="text"],
select {
  width: 350px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  margin-left: 20px;
  width: 150px;
  background-color: #bae2bb;
  color: white;
  padding: 14px 20px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: row;
}
.text {
  margin-top: 20px;
}
